html
    head
        title=game.gameID
body
    div
        h1="Game ID: " + game.id
        h1="Player 1: " + game.player1
        h1="Player 2: " + game.player2
        
        if game.active == true
            h3="Game Status: In Progress"
        else
            h3="Game Status: Complete"
            h3="Winner: " + game.winner
            h3="Final Move Count: " + game.movesTotal
            
            if game.forfeit == true
                h3="The Loser Forfeited the Game"
            else
                h3="The Loser did not Forfeit the Game"